br {
  line-height: 40px;
}

.storage {
  display: none;
}

th {
  background-size: contain;
  width: 128px;
  height: 128px;
}

@media only screen and (max-width: 768px) {
  th {
    background-size: contain;
    width: 64px;
    height: 64px;
  }
}

progress {
  text-align: center;
}

progress:after {
  content: attr(value)'% complete';
  position: absolute;
  top: 51px;
}
