.no-drag {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.grid {
  margin-bottom: 0 !important;
}

br {
  line-height: 40px;
}

.hidden {
  display: none;
}

th {
  background-size: contain !important;
  min-width: 128px;
  min-height: 128px;
  padding: 1em !important;
}
.selected {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

/*.selected:after {
  position: absolute;
  content: "";
  margin: -32px -63px;
  width: 128px;
  height: 128px;
  opacity: 0.2;
  z-index: 10000;
  background-color: white;
}

@media only screen and (max-width: 768px) {
  th {
    background-size: contain !important;
    width: 64px;
    height: 64px;
    padding: 1em !important;
  }
  .selected:after {
    position: absolute;
    content: "";
    margin: -32px;
    width: 64px;
    height: 64px;
    opacity: 0.2;
    z-index: 10000;
    background-color: white;
  }
}*/

progress {
  text-align: center;
}

progress:after {
  content: attr(value)'% complete';
  position: relative;
  top: -25px;
}
